
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

html, body, .container {
  height: 100%;
}

/* --- Background ---*/

body {
  background-color: #333;
  color: white;
}

/* --- layout --- */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- restart screen --- */

.restart-game {
  text-align: center;
}

.restart-game h1 {
  font-size: 48px;
}

.restart-game p {
  font-size: 36px;
}

#restart-button {
  min-width: 200px;
  min-height: 70px;
  border: none;
  background: #eee;
}

#restart-button:hover {
  background: #fff;
}

#restart-button:active {
  background: #ddd;
}

canvas {
  margin: 0 auto;
  display: block;
}

/* --- Typography --- */

body {
  font-family: Arial, Helvetica, sans-serif;
}